extends layout

mixin renderTags(tags)
  ul.d-flex
    each tag in tags
      li
        a(href=`/t/${tag}`)= tag
mixin articleCard({ name, authors, dateSubmitted, tags, likes, comment })
  .card.mb-3
    .card-body
      h4= name
      h6= authors

      span #{dateSubmitted.toDateString()} -
      +renderTags(tags)
      .d-flex.justify-content-between.align-items-center
        .left-section
          span.likes.mr-3
            i.fas.fa-heart.mr-2
            span= likes
          span.comments
            i.fas.fa-comments.mr-2
            span= comment
        .right-section

block content
  .container-fluid
    .jumbotron
      .d-flex.justify-content-center.align-items-center
        h1.text-center= title
        button.btn.btn-primary.mx-3 Subscribe
  .row
    .col-3
    .col-6
      each article in articles
        +articleCard(article)
    .col-3